<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

    <f:form action="updateMany"
            additionalAttributes="{role: 'form'}"
            id="update-many-recipients"
            method="post">

        <div class="form-group">
            <div id="message-body-container" style="{f:if(condition: pageId, then: 'display: none')}">
                <label for="recipient-csv-list">{f:translate(key: 'csv.recipients')}</label>
                <f:form.textarea class="form-control"
                                 name="recipientCsvList"
                                 style="min-height: 400px"
                                 id="recipient-csv-list"
                                 placeholder="johne@doe.com;John;Doe"/>
            </div>

            <div class="checkbox">
                <label>
                    <f:form.checkbox
                            name="deleteExistingRecipients"
                            checked="true"
                            value="1"/>
                    {f:translate(key: 'delete.existing.recipients')}</label>
            </div>
        </div>

        <button type="submit"
                class="btn btn-primary pull-right"
                id="btn-update-many-recipients"
                style="min-width: 100px">
            {f:translate(key: 'action.update.recipients')}
        </button>
        <br/>
        <br/>

    </f:form>

</f:section>
</html>
